$main-color: #ffffff;
$active-color:#fd8d29;
$main-background: #092443;
$app-min-width: 520px;
$nav-width: 180px;
$borderColor1: rgb(171, 191, 64);
$borderColor2: rgb(135, 64, 191);
$borderColor3: rgb(91, 64, 191);
$borderColor4: rgb(64, 184, 191);
$borderColor5: rgb(10, 187, 49);